body{
	max-width: 1500px;
	margin:auto;
}
#Head_HelloWorld {

	width: 100%;
	height: 120px;
	margin-top: 0px;
	padding: 0px;
	border: 0px;
}

#Head_NavGuide
{
	width: 100%;
	height: 2050px;
	margin-top: 0px;
	margin: auto;
	border: 0px;
}